<a href="https://colab.research.google.com/github/sujeongzoe/23-2R/blob/main/%5BMarchine_Learning%5Dclass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Class

* 객체(object)
* 클래스(Class) : 객체를 만드는 구조/틀
* 인스턴스(Instance) : 클래스가 실질적으로 객체를 만들었을 때 그 객체를 부르는 용어

In [1]:
class MyClass():
  class_var = '클래스 변수'

  @classmethod
  def class_method(cls):
    print('클래스의 메소드')

  def instance_method(self):
    self.instance_var = '인스턴스 변수'
    print('인스턴스의 메소드')

## Instance Method : 인스턴스 메소드의 매개변수 중 가장 첫 번째는 인스턴의 자리


1.   ```__init__```(초기화자) : 인스턴스가 생성될 때, 객체의 초기값을 설정하는 메소드로, 자동으로 호출됨.
2.   ```__del__```(소멸자) : 인스턴스가 소멸될 때, 자동으로 호출되는 메소드


## placeholder

In [3]:
class Account():
  def make_account(self):   # self : 인스턴스를 위한 placeholder
    self.balance = 0

  def deposit(self, money):
    self.balance += money

  def draw(self, money):
    self.balance -= money

a1 = Account()   # a1 : 인스턴스
# 해당 방식으로 클래스 선언 시에, 만들었던 변수들과 메소드들을 사용할 수 있다.

a1.make_account()  # __init__이 없으니까 placeholder를 만들어주렴녀 해당 명령어를 적어줘야 함.
a1.deposit(1000)
print(a1.balance)

1000

In [4]:
# Account.balance

AttributeError: ignored

In [5]:
a2 = Account()
a2.make_account()
a2.deposit(5000)
print(a2.balance)

5000

In [10]:
class person():
  def __init__(self):  # 생성자 생성 시 자동 수행
    self.age = 17

p1 = person()
p1.age

17

In [11]:
class TestClass1():
  def __init__(self, in1, in2):
    self.v1 = in1
    self.v2 = in2

t_cls1 = TestClass1(10,20)  # 초기화자를 통해서 개겣의 초기값을 자동으로 설정.
t_cls1.v1

10

In [13]:
class ClassExample:
  def __init__(self, name, age):
    self.name = name
    self.age = age + 5  # 변수 생성 후 파라미터로 보낸 값 할당.
    print('[생성자] self와 변수 비교 ' + str(self.age) + ' age: ' + str(age))
    print('[생성자] 이름:' + self.name + '나이:' + str(self.age))

  def ten_year_calll(self, val):
    return self.age + 10


a = ClassExample('철수',20)   # 객체화 (ClassExample의 정보를 a에 담음)

[생성자] self와 변수 비교 25 age: 20
[생성자] 이름:철수나이:25

## 객체 슬라이싱
* ```__getitem__```

In [14]:
class CustomNumbers:
  def __init__(self):
    self._numbers = [n for n in range(1,11)]

a = CustomNumbers()

In [15]:
# a[2:5]

TypeError: ignored

In [16]:
a._numbers[2:5]

[3, 4, 5]

In [17]:
class CustomNumbers:
  def __init__(self):
    self._numbers = [n for n in range(1, 11)]

  def __getitem__(self,idx):
    return self._numbers[idx]

In [18]:
a = CustomNumbers()
a[2:7]

[3, 4, 5, 6, 7]

* class variable (클래스 변수) : 클래스와 인스턴스 전체가 공유하는 변수
* **class method(클래스 메소드, @classmethod)** : 클래스와 인스턴스 전체가 공유하는 함수 -> 인스턴스와 상관없이 사용(인스턴스가 없어도 사용 가능) 클래스와 인스턴스 전체에 공유됨.

데코레이터(decorator) : wrapping을 통해 특정 코드를 재사용할 수 있게 해주는 역할

In [19]:
class MyClass2():
  class_var = '클래스 변수'

  @classmethod   # 데코레이터(decorator)
  def class_method(cls):   # cls : 클래스를 위한 placeholder(self와 유사한 역할)
    print('클래스의 메소드')

e = MyClass2()
print(e.class_var)
print(MyClass2.class_var)
e.class_method()
MyClass2.class_method()

클래스 변수
클래스 변수
클래스의 메소드
클래스의 메소드

In [20]:
class Account2():
  bank = '모두은행'
  total = 0

  @classmethod  # 위에서 아래로 값을 받아왔었는데 아래의 값을 위로 받아올 수 있다.
  def merge(cls, acc1, acc2):
    cls.total = acc1.balance + acc2.balance
    print('당신의 재산은 %d' %cls.total)

  def __init__(self):
    self.balance = 0

  def deposit(self, money):
    self.balance += money

  def draw(self, money):
    self.balance -= money

In [21]:
Account2.bank

'모두은행'

In [22]:
b1 = Account2()
b1.deposit(4000)
print(b1.balance)
print(b1.bank)

4000
모두은행

In [23]:
b2 = Account2()
b2.deposit(7000)
print(b2.balance)
print(b2.bank)

7000
모두은행

In [24]:
Account2.merge(b1, b2)

당신의 재산은 11000

In [25]:
Account2.total

11000

In [26]:
class GuestHouse():
  guest = []

  def __init__(self):
    self.room = []

  @classmethod
  def check_in(cls, name):
    cls.guest.append(name)

  def add_person(self, name):
    self.check_in(name)
    self.room.append(name)

In [27]:
r3 = GuestHouse()
r4 = GuestHouse()

In [28]:
r3.check_in('뚝딱이')
r4.check_in('뿡뿡이')

In [29]:
GuestHouse.guest

['뚝딱이', '뿡뿡이']

In [30]:
r3.room

[]

In [31]:
r4.room

[]

In [32]:
r3.add_person('홍길동')

In [33]:
r4.add_person('텔레토비')

In [34]:
r3.room

['홍길동']

In [35]:
r4.room

['텔레토비']

In [36]:
GuestHouse.guest

['뚝딱이', '뿡뿡이', '홍길동', '텔레토비']

## 클래스 상속

In [37]:
class MyPhone():   # 부모
  def __init__(self, model, color):
    self.model = model
    self.color = color

  def set_name(self, name):
    self.user = name
    print('사용자의 이름은 : %s' % self.user)

  def set_number(self, number):
    self.number = number

In [38]:
class MyPhone2(MyPhone):
  def has_case(self, val = False):
    self.case = val

In [39]:
p2 = MyPhone2('iphone','red')
p2.set_name('MJ')
p2.has_case(True)
p2.case

사용자의 이름은 : MJ

True

In [40]:
# 메소드 오버라이딩
class MyPhone():
  def __init__(self, model, color):
    self.model = model
    self.color = color
  def set_name(self, name):
    self.user = name
    print('사용자의 이름은 : %s' %self.user)
  def set_number(self, number):
    self.number = number

In [41]:
p1 = MyPhone('iphone','red')
p1.set_number('010-xxxx-xxxx')   # MyPhone에는 출력문이 없음

In [42]:
class MyPhone3(MyPhone):
  def set_number(self, num):
    self.number = num
    print('이 핸드폰의 번호는 : %s' %self.number)

In [43]:
p3 = MyPhone3('iphone','red')
p3.set_number('010-xxxx-xxxx')

이 핸드폰의 번호는 : 010-xxxx-xxxx

### ex
1. Human 이라는 클래스를 만들어보자
* Human 클래스는 아래와 같은 특징이 있다.
* Human 클래스는 인스턴스 생성 시 birth_date, sex, nation을 변수로 가지고 있다.
* give_name은 인스턴스 메소드로 이름을 input으로 받아서 name이라는 인스턴스 변수로 저장하고 화면에 이름을 출력하는 역할을 하는 함수이다.
* can_sing이라는 함수는 True/False 값을 input으로 받으며, 참이면 'Sing a song'을 화면에 출력하는 함수이다.

In [45]:
class Human():
  def __init__(self, birth_date, sex, nation):
    self.birth_date = birth_date
    self.sex = sex
    self.nation = nation

  def give_name(self, name):
    self.name = name
    print('이름은 %s입니다.' %self.name)

  def can_sing(self, bool):
    if bool:
      print('Sing a song')

In [46]:
MJ = Human(200802, 'F', 'Korea')
MJ.give_name('민지')
MJ.can_sing(True)

이름은 민지입니다.
Sing a song

### ex
2. Human 이라는 클래스를 상속하는 Child라는 클래스를 만들어보자.
* Child의 클래스에는 아래와 같은 변수와 함수들이 추가된다.
* 눈동자 색깔을 나타내는 변수 eye를 인스턴스 선언시 사용할 수 있게 추가해보자.
* Chile의 클래스는 노래하는 능력이 없다. 따라서 can_sing이라는 메소드가 호출되면 무조건 'Can't Sing'이고 출력하도록 바꿔보자.
* Child는 노래 대신 춤을 출 수 있다. can_dance라는 메소드가 호출되면 'Dance Time!'을 출력하도록 메소드를 작성해보자.

In [48]:
class Child(Human):
  def __init__(self, birth_date, sex, nation, eye):
    self.birth_date = birth_date
    self.sex = sex
    self.nation = nation
    self.eye = eye

  def can_sing(self):
    print("Can't Sing")

  def can_dance(self):
    print('Dance Time!')

In [49]:
ch = Child(200802, 'F', '한국', 'black')
ch.nation

'한국'

* ```super().__init__()```

In [50]:
# 다른 풀이

class ChildSuper(Human):
  def __init__(self, birth_date, sex, nation, eye):
    super().__init__(birth_date, sex, nation)   # Humna에서 자동으로 내려옴.
    self.eye = eye
  def can_sing(self):
    print("Can't Sing")
  def can_dance(self):
    print('Dance Time!')

In [51]:
ch2 = ChildSuper(200807, 'M', '미국', 'blue')
ch2.nation

'미국'